[Unit]
Description=Gasmeter to MQTT
After=syslog.target network.target

[Service]
ExecStart=/usr/local/bin/gasmeter
ExecReload=
StandardOutput=syslog
Restart=always

[Install]
WantedBy=multi-user.target

